.checkout {
    @include rem(height, 67px);
    @include rem(width, 67px);
    display: block;
    font-family: 'Raleway', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 10; 

    .empty-cart {
        margin: 0;
        text-align: left;
    }
}

.checkout-button {
    backface-visibility: hidden;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: transform .6s cubic-bezier(.2, 1, .3, 1);
    width: 100%;
    z-index: 10;
}

.checkout--active .checkout-button {
    cursor: default;
    transform: translate3d(-490%, 0, 0);
}

.checkout-button:focus {
    outline: none;
}

.checkout-text {
    @include rem(font-size, 20px);
    @include rem(height, 50px);
    @include rem(margin, 15px 18px);
    background-image: url('../images/template/icon-cart.svg');
    background-repeat: no-repeat;
    color: map-get($brand-color, 'white');
    display: block;
    font-weight: 400;
    padding: .8em 0 0;
}

.checkout-icon {
    display: block;
    margin: 0 auto;
}

.checkout-order {
    @include rem(width, 400px);
    max-width: 100vw;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.checkout--active .checkout-order {
    pointer-events: auto;
}

.checkout-order::before {
    background: map-get($brand-color, 'blue');
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(100%, -100%, 0) translate3d(-67px, 67px, 0);
    transition: transform .6s cubic-bezier(.2, 1, .3, 1);
    width: 100%;
}

.checkout--active .checkout-order::before {
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
}

.checkout-order-inner {
    @include rem(padding, 32px 30px);
    opacity: 0;
    position: relative;
}

.checkout--active .checkout-order-inner {
    opacity: 1;
    transition: opacity .6s cubic-bezier(.2, 1, .3, 1);
}

.checkout-close {
    @include rem(height, 12px);
    @include rem(right, 32px);
    @include rem(top, 24px);
    @include rem(width, 12px);
    backface-visibility: hidden;
    background: transparent;
    background-image: url('../images/template/cross.svg');
    background-repeat: no-repeat;
    border: 0;
    color: transparent;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    transform: translate3d(50px, 0, 0);

    &:hover {
        background-image: url('../images/template/cross-hover.svg');
    }
}

.checkout-close:focus {
    outline: none;
}

.checkout--active .checkout-close {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform .6s cubic-bezier(.2, 1, .3, 1), opacity .6s cubic-bezier(.2, 1, .3, 1);
    transition-delay: .015s;
}

.icon {
    color: map-get($brand-color, 'white');
    left: 0;
    position: absolute;
    text-indent: 0;
    top: 0;
}

.icon:hover {
    color: map-get($brand-color, 'dark-dark-blue');
}

.checkout-summary {
    @include rem(font-size, 13px);
    @include rem(letter-spacing, .5px);
    @include rem(margin, 40px 0 12px);
    color: map-get($brand-color, 'white');
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    span {
        color: map-get($brand-color, 'light-blue');
        }

    tfoot {
        span {
            color: map-get($brand-color, 'white');
        }
    }  

    tbody td {
        @include rem(font-size, 13px);
        @include rem(padding, 4px 0);
        font-weight: 700;

    }

    tbody tr:first-child {
        @include rem(padding-top, 8px);
    }

    tr {
        transform: translate3d(250px, 0, 0);
    }

    .price {
        float: right;   
    }
}

.checkout-summary .checkout-total,
.checkout-summary tbody td {
    &:first-child,
    &:last-child {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;   
    }
}

.checkout-product-quantity {
    color: map-get($brand-color, 'light-blue');
}

.checkout--active .checkout-summary tr {
    transform: translate3d(0, 0, 0);
    transition: transform .6s cubic-bezier(.2, 1, .3, 1);
}

.checkout--active tbody tr:nth-child(1) {
    transition-delay: .015s;
}

.checkout--active tbody tr:nth-child(2) {
    transition-delay: .03s;
}

.checkout--active tbody tr:nth-child(3) {
    transition-delay: .045s;
}

.checkout--active tbody tr:nth-child(4) {
    transition-delay: .06s;
}

.checkout--active tbody tr:nth-child(5) {
    transition-delay: .075s;
}

.checkout--active tbody tr:nth-child(6) {
    transition-delay: .09s;
}

.checkout--active .checkout-summary tfoot tr {
    transition-delay: .105s;
}

.checkout-summary thead th,
.checkout-summary tfoot th {
    color: map-get($brand-color, 'dark-blue');
    line-height: 2.5;
}

.checkout-total {
    @include rem(padding-left, 5px);
    color: map-get($brand-color, 'white');
}

.checkout-summary th:last-child,
.checkout-summary td:last-child {
    text-align: right;
}

.checkout-option {
    @include rem(border-radius, 1px);
    @include rem(margin-top, 16px);
    @include rem(padding, 8px 32px);
    background: map-get($brand-color, 'dark-blue');
    border: 0;
    color: map-get($brand-color, 'white');
    display: inline-block;
    font-weight: 700;
    opacity: 0;
    transform: translate3d(50px, 0, 0);
}

.checkout-option:hover {
    background: map-get($brand-color, 'dark-dark-blue');
}

.checkout-option--silent {
    @include rem(font-size, 12px);
    background: none;
    color: map-get($brand-color, 'dark-blue');
    font-weight: 500;
}

.checkout-option--silent:hover {
    background: none;
    color: map-get($brand-color, 'dark-dark-blue');
}

.checkout-option:focus {
    outline: none;
}

.checkout--active .checkout-option {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform .6s cubic-bezier(.2, 1, .3, 1), opacity .6s cubic-bezier(.2, 1, .3, 1);
    transition-delay: .18s;
}

.checkout-cancel {
    &:before {
        @include rem(font-size, 15px);
        content: '< ';
    }
}

.mini-products-list {
    li {
        list-style: none;
    }

    a {
        color: inherit;
    }
}

.product-name {
    float: left;
    margin: 0;

    a {
        color: inherit;
    }
}

@media screen and (max-width: 26em) { 

    .checkout-active .checkout-button {
        cursor: default;
        transform: translate3d(-100%, 0, 0);
    }
}



